*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.accountMainDiv {
    display: flex;
    flex-direction: row;
    height: 93vh;
}

.sideNav {
    width: 20%;
    height: 100%;
    background-color: #2d2d39;
    color: #fff;
    padding-top: 50px;
}

.sideNav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    margin-top: 100px;
}

.sideNav li {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #cbcacb;
    font-size: 1em;
    cursor: pointer;

}

.sideNav a {
    text-decoration: none;
    color: #fff;
    display: block;
}

.sideNav li:hover {
    background-color: #000000;
}

.sideNav span {
    padding: 0;
    margin: 0;
    margin-left: 6rem;
    font-weight: bold;
    font-size: 1rem;
}


.userDetailsDiv {
    height: 20em;
    width: 50em;
    margin: 5em;
    padding: 20px;
    background-color: #8e84e3;
    border: 1px solid #ddd;
    border-radius: 15px;
}

.userDetailsDiv ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.transactionGrid{
    width: 100%;
    display: flex;
    flex-direction: column;
    
}
.modalButton{
    width: 200px;
    margin: 10px 20px !important;
    cursor: pointer;
 }

 .pieGrid{
    display: flex;
    width: 100%;
    height: 93vh;
    justify-content: space-around;
    align-items: center;
    background-color: #2d2d39;
 }
 .pieChart{
    margin-top: 0px;
    width: 30%;
    height: 80%;
 }
 .accountGrid{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    flex-direction: column;
 }
 .accountInfo{
    display: flex;
    width: 80%;
    height: 40%;
    margin-top: 20px;
    justify-content: center;
 }
 .userDetails li{
    list-style: none;

 }
 .userDetails li span{
    color: #8e84e3;
    font-weight: 700;
 }
 li:first-child  {
    color: #8e84e3;
    font-size: 30px;
    font-weight: 700;
    border-bottom: 2px solid #8e84e3;
    margin-bottom: 20px;
  }
@media (max-width: 768px) {
    
    .sideNav{
        width: 50%;
    }
    .sideNav span{
        font-size: 0.8rem;
        margin-left: 5rem;
    }
    .userDetailsDiv {
        height: 20em;
        width: 30em;
        margin: 1em;
        padding: 20px;
        background-color: #8e84e3;
        border: 1px solid #ddd;
        border-radius: 15px;
    }
    .pieGrid{
        flex-direction: column;
    }
    .pieChart{
        width: 50%;
    }
} 